@font-face {
    font-family: "NewYork.woff2";
    src: url(./assets/fonts/NewYork.woff2) format("woff2");
}
@font-face {
    font-family: "SuisseIntl-UltraLight.woff";
    src: url(./assets/fonts/SuisseIntl-UltraLight.woff) format("woff");
}
body{
    margin:0;
}
a {
    text-decoration: none;
    color: black;
}
.container {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 248, 238);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.welcome-msg {
    width: 75%;
    margin-top: 15rem;
    margin-left: auto;
    margin-right: auto;
    font-family: "NewYork.woff2";
    font-size: 2.6rem;
    display: flex;
    text-align: left;
    color: rgb(33, 33, 33);
}
.nav-about {
    position: absolute;
    top: 30px;
    left: 20px;
    font-family: "SuisseIntl-UltraLight.woff";
    font-size: 1.2rem;
    transition: 1.5s ease-out;
}
.nav-project {
    position: absolute;
    top: 30px;
    right: 20px;
    font-family: "SuisseIntl-UltraLight.woff";
    font-size: 1.2rem;
    transition: 1.5s ease-out;
}
#section2 {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    line-height: 10rem;
    font-family: "NewYork.woff2";
    margin-top: 28rem;
    margin-bottom: 18rem;
    margin-left: -2.5rem;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width:450px){
    .welcome-msg {
        width: 60%;
        margin-top: 20rem;
        margin-left: auto;
        margin-right: auto;
        font-size: 5rem;
    }
    .nav-about {
        top: 20rem;
        font-size: 2rem;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    .nav-project {
        top: 20rem;
        font-size: 2rem;
        writing-mode: vertical-lr;
    }
    #section2 {
        font-size: 5rem;
        line-height: 15rem;
        margin-top: 30rem;
        margin-bottom: 12rem;
    }
    #nav-studio {
        position: relative;
    }
    #nav-studio:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 3rem;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    #nav-studio:hover:after{
        visibility: visible;
        transform: scaleX(1);
    }
    #nav-lab {
        position: relative;
    }
    #nav-lab:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 3rem;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    #nav-lab:hover:after{
        visibility: visible;
        transform: scaleX(1);
    }

}

