ul{
    list-style-type: none;
}
.container {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 248, 238);
    overflow-y: scroll;
}
.headline{
    color: salmon;
}

.nav-link{
    text-decoration: none;
    color: rgb(179, 196, 218);
    font-size: 50px;
}